absl-py==0.7.0
aiofiles==0.4.0
astor==0.7.1
certifi==2018.11.29
chardet==3.0.4
gast==0.2.2
grpcio==1.18.0
h5py==2.9.0
httptools==0.0.11
idna==2.8
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.8
Markdown==3.0.1
multidict==4.5.2
numpy==1.16.1
protobuf==3.6.1
python-dateutil==2.7.5
pytz==2018.9
PyYAML==3.13
requests==2.21.0
sanic==20.12.7
scipy==1.2.0
six==1.12.0
tensorflow-gpu
termcolor==1.1.0
ujson==1.35
urllib3==1.24.1
uvloop==0.12.0
websockets==6.0
Werkzeug==0.14.1
